{%load static%}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Haqqımızda</h3>
                    </div>
                    <p> Gələcəyini bu gün inşa etmək istərdinmi? Şagirdlərinə bir çox dil variantının olduğu bir kitabxana təqdim edir.
                        Akademik dərsləri, dil, mahnı, sənət, sağlıq və idman, texnologiya, programlama, tortun hazırlanması və daha bir çox kateqoriyalar təşkil edən əla bir təhsil platformudur</p>   
                    <div class="footer-right">
                        <ul class="footer-links-soi">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul><!-- end links -->
                    </div>						
                </div><!-- end clearfix -->
            </div><!-- end col -->

            
            <div style="padding-left: 320px ;" class="col-lg-8 col-md-8 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Əlaqə</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="mailto:#">info@LWU.com</a></li>
                        <li><a href="#">www.LWU.com</a></li>
                        <li>Azerbaycan Baku </li>
                        <li>+994 0514879425</li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
            
        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->